header{
    background-color: brown;
    padding: block;
}


.navigation ul li a .text{
    position: absolute;
    color:var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li a .text{
 opacity: 1;
}

.navigation ul li.list a .icon {
    
    color: black;

}.navigation ul li a .icon
{
    position: relative;
    display:grid;
    line-height: 0px;
    font-size: 2em;  
    
}
.navigation{
    align-content: right;
      }
    
          .navigation ul{
              display: flex;
              width: 350px;
          }
          .navigation ul li{
              position: relative;
              list-style: none;
              width: 70px;
              
          }
body{
    background-color: rgb(250, 236, 215);
}