header{
    background-color: brown;
    padding: 0px;
    margin: 0px;
}


body{
    background-color: #faecd7;
}ion-icon {
    font-size: 30px;
}
img{
    padding-left: 15px;
}
h1{
    padding-left: 15px;
}
footer{
    background-color: brown;
    color: white;
    text-align: center;
}