header{
    background-color: brown;
    padding: 0px;
    margin: 0px;
}


body{
    background-color: rgb(250, 236, 215);
}ion-icon {
    font-size: 30px;
}
footer{
    background-color: brown;
    color: white;
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 50px;
} 
img{
    padding-left: 10px;
}