header{
    background-color: brown;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(250, 236, 215);
}ion-icon {
    font-size: 30px;
}
.container{
    width: 940px;
}


.container img{
    border-radius: 80%;
    margin: 0 auto;
  
}
.form-group{
text-align: center;
}
.enviar{
    margin: 0 auto;
    background-color: black;
    color: white;
    border-radius: 20%;
}
footer{
    background-color: brown;
    text-align: center;
    color: white;
}
.Senha{
    border-radius: 50%;
}