header{
    background-color: brown;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(250, 236, 215);
}ion-icon {
    font-size: 30px;
}
.container{
    width: 940px;
}


.container img{
    border-radius: 80%;
    margin: 0 auto;
  
}
.form-group{
text-align: center;
}

footer{
    background-color: brown;
    text-align: center;
    color: white;
}
.Enviar{
    width: 350px;
    text-align: absolute;
        left: 100%;
        top: 100%;
        margin-left:-110px;
        margin-top:-40px;
    padding: 10px 15px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: brown;
    font-size: 20px;
}

.inputlp{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 10%;
    height: 30px;
    width: 252px;
    }
    
    .inputlp1{
    border-radius: 5%;
    font-family: 'Poppins', sans-serif;
    height: 31px;
    width: 87px;
    background-color: brown;
    color: white;
    }
    
    .center{
    text-align: center;
    }